[submodule "foundry_erc20/lib/openzepplin-contracts"]
	path = foundry_erc20/lib/openzepplin-contracts
	url = https://github.com/openzepplin/openzepplin-contracts
[submodule "foundry_nft/lib/openzeppelin-contracts"]
	path = foundry_nft/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry_nft/lib/foundry-devops"]
	path = foundry_nft/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "Defi_DSC/lib/chainlink-brownie-contracts"]
	path = Defi_DSC/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
